/*   Page style   */

body {
    width: 1366px;
    height: 950px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.wrapper {
    width: 968px;
    /*height: 100vh;*/
    height: 950px;
    margin: 0 auto;
    padding: 0 46px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}


/*   Header style   */

.logo a img {
    margin-top: 50px;
}

nav {
    width: 966px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #555555;
}

.menu {
    font-size: 15px;
    font-family: 'Times New Roman';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    position: relative;
    padding: 12px 38px;
    color: white;
    text-decoration: none;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
}

.menu li a:hover {
    background-color: #474747;
    border-left: solid #838383 1px;
    border-right: solid #838383 1px;
}


/*   Content style   */

.content {
    display: block;
    float: right;
}

.img-frame {
    width: 678px;
    height: 400px;
    margin-bottom: 40px;
    border: solid #c8c8c8 1px;
}

.img-frame img {
    width: 500px;
    height: 307px;
    margin-top: 47px;
    margin-left: 88px;
}

.content p {
    width: 625px;
    height: 141px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Times New Roman';
}


/*   Sidebar style   */

aside {
    float: left;
    width: 238px;
    height: 239px;
    border: solid #c8c8c8 1px;
}

.menu-border {
    border-bottom: solid #c8c8c8 1px;
}

.sidebar {
    font-size: 14px;
    font-family: 'Times New Roman';
}

.sidebar li a {
    display: block;
    position: relative;
    height: 13px;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #656363;
    text-decoration: none;
}

.sidebar li a:hover {
    padding-left: 34px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}


/*   Footer style   */

footer {
    clear: both;
    width: 966px;
    height: 40px;
    background-color: #e1e1e1;
    color: #2c2c2c;
    font-size: 14px;
    font-family: 'Times New Roman';
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    display: block;
    position: relative;
    padding: 12px 40px;
    color: #2c2c2c;
    text-decoration: none;
}

small {
    float: right;
    padding: 12px 10px;
}

.footer-menu li a:hover {
    text-decoration: underline;
}
